# 忽略所有文件
/*

# 但保留以下文件和文件夹
!README.md
!README/
!img/
!LICENSE
!.gitignore
!gradlew
!gradlew.bat
!gradle.properties
!build.gradle.kts
!settings.gradle.kts
!local.properties
!gradle/
!app/

# 不发布的目录
app/src/main/cpp/
app/.cxx/
app/build/
备份/
code_dictionary/
error_1.txt
keystore.properties
*.jks
*.so
